<div class="main" [ngStyle]="
{width: adaptiveService.isMobileMode? '100%': '75%'}">
<app-create-post-diaolog></app-create-post-diaolog>




  <div *ngFor="let post of postService.allPosts">
    <app-post [post]="post"></app-post>
  </div>

  <mat-spinner style="margin-left: auto; margin-right: auto;" *ngIf="isLoading" ></mat-spinner>
  <!--Компоенент, який буде показаний,
  якщо  з беку не буде отримано новин-->
  <app-error-message *ngIf="isShowError" (onResponse)="getAllPosts()"
    ></app-error-message>

</div>
