<div class = "main">
 <div *ngIf="isOwner"  class="photo_container" style="border: solid rgba(79, 75, 75, 0.37) 0.1rem;" (click)="openUploadDialog()">
     <button style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;" mat-fab color="primary">
         <mat-icon class="mat-18">add</mat-icon>
     </button>



 </div>
     <div *ngFor="let photo of photoService.userPhotos" (click) = "openPictureSlider()">
        <div class ="photo_container">
        <img  class = "photo" [src]="photoService.baseUrl + '/files' + photo.path">
    </div>

    </div>

</div>

