<div class="main" >
  <mat-tab-group >
    <!---Вкладка з додаванням музики-->
    <mat-tab  label="Моя музика" >

      <ng-template mat-tab-label>
        <img
          style="width: 1.2rem; margin-right: 0.5rem"
          src="assets/note.png"
        />
        </ng-template>

 <div class="track_space"  style="max-height: 20rem; max-width: 25rem; overflow-y: scroll;"  >

      <div *ngFor="let tarck of userTracksModule.userTracks">
        <app-track (onTrackAdd)="addTrackToList($event)"  [isAddingMode]="true" [track]="tarck"></app-track>

</div>
</div>

<div>


</div>

    </mat-tab>
    <!--Вкладка з додаванням фото-->
    <mat-tab  >

      <ng-template mat-tab-label>
        <img
          style="width: 1.2rem; margin-right: 0.5rem"
          src="assets/photo.png"
        />
        </ng-template>


     <div class="track_space"  style="max-height: 20rem; max-width: 25rem; overflow-y: scroll;">
        <app-user-photos  (onReturnPhoto)="addPhotoToList($event)"  photoMode="ADDING" [user]="userService.getUser()" ></app-user-photos>
      </div>

      </mat-tab>



    <mat-tab  style="height: 20rem;" >
   <!--Вкладка з додаванням відео -->


   <ng-template mat-tab-label>
    <img
      style="width: 1.2rem; margin-right: 0.5rem"
      src="assets/video.png"
    />
    </ng-template>

            <button mat-raised-button (click)="uploadVideo()">Завантажити відео</button>

    </mat-tab>



  </mat-tab-group>

  <!--Кнопка додати та кількість доданих файлів-->
  <div style="display: flex;">
    <button (click)="returnTracks()" mat-raised-button color="primary">Додати</button>




      <app-icon size="1rem" icon="note" [text]="tracks.length + ''" ></app-icon>
      <app-icon size="1rem" icon="photo" [text]="photos.length + ''" ></app-icon>



    </div>


</div>
