.header{

    right: 0;
    background-color: rgba(26, 26, 33, 0.863);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    box-shadow: 60px -16px grey;

}

.enter_user_lable{
    background-color: rgb(53, 49, 49);
    position: fixed;
    top: 3.5rem;
    right: -14rem;
   width: 13rem;

    z-index: 2000;
    border: solid 0.2rem rgb(107, 109, 117);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    display: flex;
    overflow: hidden;
    padding: 0%;
    justify-content: space-between;
    color: aliceblue;
    transition: 0.5s;

}


.bubble{
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;

  color: aliceblue;

  display: flex;
  margin-left: 0.5rem;

}

.bubble_item{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 1.2rem;
}

 .header_info{
   background-color: rgb(72, 72, 72);
   height: min-content;
   border-radius: 4rem;
   display: flex;
   overflow: hidden;
   margin-left: 0.5rem;


   color: rgb(165, 166, 176);
 }

.user_option_container
{

     position: fixed;
      top: 3.5rem;
      right: 3rem;
      padding: 1.5rem;
      background-color: rgba(51, 51, 50, 0.938);
      border-radius: 0.5rem;
      transition: 0.5s;
      border: solid 0.2rem rgb(80, 80, 79);
}

.header_item{
    margin-top: auto;
    margin-bottom: auto;
}


.search{
    height: 1.5rem;
    border-radius: 0.4rem;
    border: none;
}

.main{
  margin-top: 3.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  height: 100%;
  padding: 0ngrem;


  background-color: rgba(39, 37, 40, 0.841) ;
}



.left_bar{
  background-color: rgba(39, 37, 40, 0.841) ;
  border-radius: 1rem;
  padding-top: 2rem;
}

.left_bar_mobile{
   position: fixed;
   left: 0;
   bottom: 0;
  width: 16rem;

   top: 3rem;
   z-index: 1000;
   background-color: rgb(39, 37, 40) ;
   transition: 0.5s;


}

.user_container
{

    width: 100%;

   display: flex;
   flex-direction: column;
}
.user_container:hover{
   cursor: pointer;
   background-color: rgba(137, 43, 226, 0.09);
}

  .avatar_container{
     width: 5rem;
     height: 5rem;
     border-radius: 50%;


     margin-top: 0.5rem;
     margin-bottom: auto;
     margin-left: auto;
     margin-right: auto;
    overflow: hidden;

    }

    .little_user_container{
         width: 2.2rem;
         height: 2.2rem;
         border-radius: 50%;
         overflow: hidden;
         border: solid rgb(69, 2, 140) 0.15rem;

    }

      .little_user_container:hover{
           cursor: pointer;
      }
    .little_user_icon{
       width: 2.2rem


    }

    .user_avatar{
       width: 5rem;

    }

.user_title{
  margin-top: 0.5rem;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0.5rem;


}


.bar_item{
   display: flex;
   color: antiquewhite;
   padding: 0.6rem;
   padding-left: 2rem;
   padding-right: 2.5rem;
 font-weight: 400;
 font-size: 0.9rem;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.bar_item:hover{
  cursor: pointer;
  background-color: rgba(137, 43, 226, 0.543);



}
.work_container{
  width: 100%;
}

@media (max-width: 60rem)
{
   .main{
    margin-left: 0;
    margin-right: 0;
   }
}
