.main{
  margin-top: 0.5rem;
  color: aliceblue;
  padding: 0.3rem;
  display: flex;
  background-color: rgba(123, 110, 123, 0.122);

  justify-content: space-between;
  height: min-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;


}

.main:hover{
     cursor: pointer;
}

.img_container{
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.img{
    width: 3.5rem;

}

.info{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
