/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("src/assets/background.jpg");
    overflow-y: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#base_background{
  background-color: rgba(39, 37, 40, 0.885) ;
}

#center_white_text{
     margin-left: auto;
     margin-right: auto;
     color: aliceblue;
     font-weight: 500;
     text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    }


    .custom-dialog-container .mat-dialog-container {
      overflow-y: hidden;
    }


    ::ng-deep .custom-dialog > mat-dialog-container {
      background-color: var(--background);
    }


    ::ng-deep .mat-focused .mat-form-field-label {
      /*change color of label*/
      color: green !important;
     }

     ::ng-deep.mat-form-field-underline {
      /*change color of underline*/
      background-color: green !important;
    }

    ::ng-deep.mat-form-field-ripple {
     /*change color of underline when focused*/
     background-color: green !important;
    }



